    <?php if (isset($logged_user) && $logged_user_group > 1) { ?>
    <div class="to-top"><i class="fas fa-angle-double-up fa-fw"></i></div>
    <footer class="footer">
        <div class="col pad-top-30 pad-bottom-30">
            <div class="wrapper">
                <h6>Footer</h6>
                <a href="/home">Public Site Area</a>
            </div>
        </div>
    </footer>
    <?php } ?>
</body>
<script type="text/javascript">

var main_height = $('.main').height();
$('.nav').height(main_height);

Common.init();
Settings.init();
Search.init();

</script>
</html>