<?= $header; ?>
<?= $nav; ?>
<main class="main home-page">
    <div class="row workarea">
        <div class="row workpanel space-bottom-15">
            <div class="row pad-bottom-15">
                <div class="col triple dash-container">
                    <div class="dash-container-title">Contacts (<?= $total_users; ?>)</div>
                    <div class="dash-container-content">
                        <div class="row"><span>Registered: <?= $registered; ?></span></div>
                        <div class="row"><span>Moderators: <?= $mods; ?></span></div>
                        <div class="row"><span>Administrators: <?= $admins; ?></span></div>
                        <div class="row"><span>Banned: <?= $banned; ?></span></div>
                        <div class="row"><span>Last: <a href="/users/<?= $latest_reg; ?>"><?= $latest_reg; ?></a></span></div>
                    </div>
                    <div class="dash-container-footer"><a href="/users" class="pull-right">View more</a></div>
                </div>
                <div class="col triple dash-container">
                    <div class="dash-container-title">Leads</div>
                    <div class="dash-container-content">
    
                    </div>  
                    <div class="dash-container-footer"><a href="/" class="space-right-15">Link</a><a href="/" class="pull-right">View more</a></div>
                </div>
                <div class="col triple dash-container">
                    <div class="dash-container-title">Clients</div>
                    <div class="dash-container-content">
    
                    </div>
                    <div class="dash-container-footer"><a href="/" class="space-right-15">Link</a><a href="/" class="pull-right">View more</a></div>
                </div>
            </div>
        </div>
        <div class="row workpanel space-bottom-15">
            <div class="row pad-bottom-15">
                <div class="log-title">Logs <i class="fas fa-caret-right fa-fw"></i></div>
                <div class="col space-bottom-15 dash-btns pull-right">
                    <div class="right">
                        <button type="button" class="btn btn-default btn-clear-logs pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Logs</button>
                    </div>
                    <div class="left">
                        <div class="log-response"></div>
                    </div>
                </div>
                <div class="log">
                    <div class="scrollarea">
                        <table class="table pull-left log-table">
                            <tr>
                                <th class="number-col">#</th>
                                <th>Time</th>
                                <th>Event</th>
                            </tr>
                            <?php foreach ($logs as $log) : ?>
                            <tr class="log-row">
                                <td class="number-col"><?= $log['id']; ?></td>
                                <td><?= $log['time']; ?></td>
                                <td><?= $log['event']; ?></td>
                            </tr>
                            <?php endforeach ?>  
                        </table>
                    </div>
                </div>
            </div>
            <div class="row pad-bottom-15">
                <div class="log-title">Errors <i class="fas fa-caret-right fa-fw"></i></div>
                <div class="col space-bottom-15 dash-btns pull-right">
                    <div class="right">
                        <button type="button" class="btn btn-default btn-clear-errors pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Errors</button>
                    </div>
                    <div class="left">
                        <div class="error-response"></div>
                    </div>
                </div>
                <div class="log">
                    <div class="scrollarea">
                        <table class="table pull-left log-table">
                            <tr>
                                <th class="number-col">#</th>
                                <th>Time</th>
                                <th>Event</th>
                            </tr>
                            <?php foreach ($errors as $error) : ?>
                            <tr class="error-row">
                                <td class="number-col"><?= $error['id']; ?></td>
                                <td><?= $error['time']; ?></td>
                                <td><?= $error['event']; ?></td>
                            </tr>
                            <?php endforeach ?>  
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="overflow:hidden;">
                <div id="embed-api-auth-container"></div>
                <div id="chart-container"></div>
                <div id="view-selector-container"></div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('body').on('click', '.fa-caret-right', function() {
    $(this).removeClass('fa-caret-right').addClass('fa-caret-down');
    $(this).parent().siblings('.log').css({'height':'0', 'padding':'0', 'border':'none', 'border-top':'1px solid #ccc'});
});

$('body').on('click', '.fa-caret-down', function() {
    $(this).removeClass('fa-caret-down').addClass('fa-caret-right');
    $(this).parent().siblings('.log').removeAttr('style');
});
    
$('body').on('click', '.btn-clear-logs', function() {
    if (confirm('Are you sure you want to clear the logs?')) {
        $.ajax({
            url: '/home/clearLog',
            type: 'get',
            success: function(response, status, xhr) {
                if ($.trim(response)) {
                    var data = JSON.parse(response);
                    $('.loading').remove();
                    $('.log-response').html('<div class="alert ' + data.alert + '"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                    $('.log-row').html('');
                } 
            },
            complete: function() {
                Common.btn.prop('disabled', false).html(Common.btnhtml);
            }
        });
    } else {
        Common.btn.prop('disabled', false).html(Common.btnhtml);
    }
});

$('body').on('click', '.btn-clear-errors', function() {
    if (confirm('Are you sure you want to clear the errors?')) {
        $.ajax({
            url: '/home/clearErrors',
            type: 'get',
            success: function(response, status, xhr) {
                if ($.trim(response)) {
                    var data = JSON.parse(response);
                    $('.loading').remove();
                    $('.error-response').html('<div class="alert ' + data.alert + '"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                    $('.error-row').html('');
                } 
            },
            complete: function() {
                Common.btn.prop('disabled', false).html(Common.btnhtml);
            }
        });
    } else {
        Common.btn.prop('disabled', false).html(Common.btnhtml);
    }
});

$('body').on('click', '.log-row', function() {
    $('tr').removeAttr('style');
    $('.log-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

$('body').on('click', '.error-row', function() {
    $('tr').removeAttr('style');
    $('.error-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

</script>
<?= $footer; ?>