<nav class="nav">
        <div class="main-nav">
            <a href="/home"><i class="fas fa-home fa-fw"></i> HOME</a>
            <a href="/opportunities/leads"><i class="fas fa-hand-point-right fa-fw"></i> LEADS</a>
            <a href="/opportunities/clients"><i class="fas fa-user-friends fa-fw"></i> CLIENTS</a>
            <a href="/contacts"><i class="fas fa-address-book fa-fw"></i> CONTACTS</a>
            <hr class="row basic" style="margin: 10px 0;">
            <a href=""><i class="fas fa-phone fa-fw fa-flip-horizontal"></i> SUPPORT</a>
            <a href=""><i class="fas fa-sign-out-alt fa-fw"></i> LOGOUT</a>
        </div>
    </div>
</nav>