<a href="/contacts/new" class="btn btn-default">New</a>
<button type="button" class="btn btn-stop btn-list-control btn-mass-delete" title="Delete" disabled><i class="fas fa-trash fa-fw"></i> Delete</button>
<a href="/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
<a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>