<?= $header; ?>
<?= $nav; ?>
<main class="main new-contact-page">
    <div class="row workarea">
         <?= $breadcrumb ?>
        <div class="row workpanel">
            <form action="" method="post" id="clients-form" class="row form">
                <strong>Add a contact</strong>
                <div class="row settings-row">
                    <div class="row alert-area"></div>
                    <div class="row space-bottom-15">
                        <div class="label-col">
                            <label for="name" style="width:170px;">Name:</label>
                        </div>
                        <div class="input-col">
                            <input type="text" name="name" value="" id="name" style="width:450px;">
                        </div>
                    </div>
                    <div class="row space-bottom-15">
                        <div class="label-col">
                            <label for="phone" style="width:170px;">Phone:</label>
                        </div>
                        <div class="input-col">
                            <input type="email" name="phone" value="" id="phone" style="width:350px;">
                        </div>
                    </div>
                    <div class="row space-bottom-15">
                        <div class="label-col">
                            <label for="email" style="width:170px;">Email:</label>
                        </div>
                        <div class="input-col">
                            <input type="email" name="email" value="" id="email" style="width:450px;">
                        </div>
                    </div>
                    <div class="row space-bottom-15">
                        <div class="label-col">
                            <label for="address" style="width:170px;">Address:</label>
                        </div>
                        <textarea name="address" id="address" style="width:500px;"></textarea>
                    </div>
                    <div class="row space-bottom-15">
                        <div class="label-col">
                            <label for="email" style="width:170px;">Phase:</label>
                        </div>
                        <div class="input-col">
                            <select name="" id="">
                                <option value="">1 - Contacted</option>
                                <option value="">2 - Surveyed</option>
                                <option value="">3 - Proposed</option>
                                <option value="">4 - Signed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-go btn-save"><i class="fas fa-save fa-fw"></i> SAVE</button>
        </div>
    </div>
</main>
<script type="text/javascript">

$('body').on('click', '.btn-save', function() {
    $.ajax({
        url: '/contacts/save',
        type: 'post',
        data: $('#clients-form').serialize(),
        success: function(response, status, xhr) {
            console.log(response);
            if ($.trim(response)) {
                var data = JSON.parse(response);
                $('.alert-area').append('<div class="alert ' + data.alert + ' space-bottom-15"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            } 
        }, 
        complete: function() {
            Common.btn.prop('disabled', false).html(Common.btnhtml);
        }
    });
});
$('#clients-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-save').click();
    }
});

</script>
<?= $footer; ?>