<select name="group" class="pull-left btn-list-control" id="user-group" disabled>
    <option id="group-none">Select</option>
    <option value="0" id="group0">Locked</option>
    <option value="1" id="group1">Un-registered</option>
    <option value="2" id="group2">Registered</option>
    <option value="3" id="group3">Moderator</option>
    <option value="4" id="group4">Administrator</option>
</select>
<hr>
<button type="button" class="btn btn-stop btn-list-control btn-mass-delete" title="Delete" disabled><i class="fas fa-trash fa-fw"></i> Delete</button>
<a href="/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
<a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>