<?= $header; ?>
<main class="main users-user-page">
    <?= $nav; ?>
    <div class="workarea <?= $menu_class; ?>">
        <div class="row main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="row main-controls">
            <a href="#" class="btn btn-basic" disabled>Message User</a> 
            <a href="mailto:<?= $email; ?>" class="btn btn-basic btn-email">Email User</a>
            <hr>
            <?php if (!$self): ?>
            <form id="actions">
                <input type="hidden" name="id" value="<?= $id; ?>" id="id">
            </form>
            <select name="group" class="pull-left btn-list-control" id="user-group">
                <option id="group-none">Select</option>
                <option value="0" id="group0">Locked</option>
                <option value="1" id="group1">Un-registered</option>
                <option value="2" id="group2">Registered</option>
                <option value="3" id="group3">Moderator</option>
                <option value="4" id="group4">Administrator</option>
            </select>
            <hr class="delete-hr">
            <button type="button" class="btn btn-stop btn-delete" title="Delete"><i class="fas fa-trash fa-fw"></i> Delete</button>
            <?php endif ?>
            <a href="/admin/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw fa-fw"></i></a>
            <a href="/admin/users/" class="btn btn-basic pull-right" title="Back"><i class="fas fa-reply fa-fw fa-fw"></i></a>
            <a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw fa-fw"></i></a>
        </div>
        <div class="row alert-area"></div>
        <div class="row main-panel space-top-15">
            <div class="row panel-content">
                <div class="account-left">
                    <div class="row account-info">
                        <div class="account-avatar">
                            <img src="/views/images/uploads/account/<?= $avatar; ?>" alt="Account Avatar">
                        </div>
                        <div class="is-online text-large"><i class="fas fa-circle fa-fw"></i><?= $status; ?></div>
                        <span class="pull-left heading-medium"> <a href="/profile/<?= $username; ?>"><?= $username; ?></a></span>
                    </div>
                    <div class="row account-info">
                        <span>ID:</span> <p><?= $id; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Group:</span> <p class="group"><?= $group; ?></p>
                    </div>
                    <div class="row account-info">
                        <div class="row">
                            <span>Joined:</span> <p><?= $registered; ?> <em class="days-ago text-small">(<?= $sd_days_ago; ?>)</em></p>
                        </div>
                        <div class="row">
                            <span>Last Active:</span> <p><?= $last_active; ?> <em class="days-ago text-small">(<?= $la_days_ago; ?>)</em></p>
                        </div>
                    </div>
                    <div class="row account-info">
                        <span>Name:</span> <p><?= $firstname; ?> <?= $lastname; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Email:</span> <p><?= $email; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Privacy:</span> <p><?= $privacy; ?></p>
                    </div>
                </div>
                <div class="account-right">

                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

var ids = $('#id').serializeArray();

$('body').on('click', '.btn-email', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $('.main').append(Common.showLoader());
    setTimeout(function() {
        btn.prop('disabled', false).html(btnhtml);
    }, 5000);
    $('.loading').remove();
});

$('#user-group').on('change', function() {
    editUser($(this).val());
});

function editUser(group) {
    $.ajax({
        url: '/admin/users/edit',
        type: 'post',
        data: {ids: ids, group: group},
        success: function(response, status, xhr) {
            if ($.trim(response)) {
                // $('body').prepend(response);
                var data = JSON.parse(response);
                switch (data.group) {
                    case '0':
                        data.group = 'Locked';
                        break;
                    case '1':
                        data.group = 'Un-registered';
                        break;
                    case '2':
                        data.group = 'Registered';
                        break;
                    case '3':
                        data.group = 'Moderator';
                        break;
                    case '4':
                        data.group = 'Administrator';
                        break;
                    default:
                        data.group = 'Unknown';
                        break;
                }
                $('.group').text(data.group);
                $('.alert-area').html('<div class="alert ' + data.alert + '"><strong>' + data.alert + '!</strong> ' + data.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            } 
        },
        complete: function() {
            
        }
    });
}

if ($('.is-online').text() == 'Online') {
    $('.is-online').find('i').addClass('text-green').removeClass('text-red');
}
if ($('.is-online').text() == 'Offline') {
    $('.is-online').find('i').addClass('text-red').removeClass('text-green');
}

</script>
<?= $footer; ?>