@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i");
@import url("../../../../views/fonts/fontawesome/fontawesome.css");
@import url("dropzone.css");
@import url("filebrowser.css");
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}

html {
    height: 101%
}

body {
    display: block;
    background-color: #ececec;
    color: #555;
    font-family: "Open Sans", Arial, Courier, Times, Helvetica, Verdana, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

/* 
 * Tables 
 */

table {
    float: left;
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
}

table input {
    height: auto;
}

th {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    padding: 5px 5px 0 5px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.data-row:hover {
    background-color: #f1f1f1;
}

tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

td {
    height: auto;
    padding: 5px 5px;
    border: none;
}

th, td {
    white-space: nowrap;
}

tfoot {
    display: none
}

.tr-highlight {
    background-color: #e5e5e5;
}

.dark-theme .tr-highlight {
    background-color: #3c3d40;
}

.id-col {
    max-width: 0;
    width: 0;
    overflow: hidden;
    display: none;
}

.check-cell {
    width: 30px !important;
    padding: 0 5px 0 0 !important;
}

.number-col {
    padding-right: 0px !important;
}

.check-col, .number-col {
    min-width: 35px;
    width: 35px !important;
    text-align: center;
}

/* 
 * Text 
 */

a, a:visited {
    text-decoration: none;
}

a, a:visited {
    color: #2777c9;
}

a:hover, a:focus, a:active {
    color: #999;
}

ul, ol {
    list-style: outside
}

ul.list-unstyled, ol.list-unstyled {
    list-style: none
}

ul.list-style-inside, ol.list-style-inside {
    list-style: inside
}

ul.list-style-check, ol.list-style-check {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit
}

.heading-small {
    font-size: 21px;
    line-height: 21px;
}

.heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.heading-large {
    font-size: 36px;
    line-height: 36px;
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-underline {
    text-decoration: underline
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 18px;
    line-height: 18px;
}

.text-large {
    font-size: 24px;
    line-height: 24px;
}

.text-black {
    color: #777
}

.text-white {
    color: #ffffff
}

.text-green {
    color: #32ce32;
}

.text-red {
    color: #ff6d6d;
}

/* Background Colors */

.bkg-black {
    background-color: #777
}

.bkg-white {
    background-color: #ffffff
}

.bkg-beige {
    background-color: #F5F5DC
}

.bkg-grey {
    background-color: #d6d6d6
}

/*
 * Wrappers, Main 
 */

.main {
    position: relative;
    float: left;
    width: 87%;
    min-height: 500px;
    background-color: #f1f1f1;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

/*
 * Wrappers, Main 
 */

.row, .col {
    position: relative;
    float: left
}

.row {
    width: 100%;
}

.col {
    position: relative;
    float: left;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col.dual {
    width: 49%;
    margin-right: 2%
}

.col.dual:nth-child(2n+2) {
    margin: 0
}

.col.triple {
    width: 32.33%;
    margin-right: 1.5%
}

.col.triple:nth-child(3n+3) {
    margin: 0
}

.col.quad {
    width: 24%;
    margin-right: 1.33%
}

.col.quad:nth-child(4n+4) {
    margin: 0
}

.col.penta {
    width: 19%;
    margin-right: 1.25%
}

.col.penta:nth-child(5n+5) {
    margin: 0
}

.col.hexa {
    width: 16%;
    margin-right: 0.8%
}

.col.hexa:nth-child(6n+6) {
    margin: 0
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-bottom-15 {
    padding-bottom: 15px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.pad-top-60 {
    padding-top: 60px
}

.pad-bottom-60 {
    padding-bottom: 60px
}

.space-top-15 {
    margin-top: 15px
}

.space-bottom-15 {
    margin-bottom: 15px
}

.space-top-30 {
    margin-top: 30px
}

.space-bottom-30 {
    margin-bottom: 30px
}

.space-top-60 {
    margin-top: 60px
}

.space-bottom-60 {
    margin-bottom: 60px
}

.pad-left-15 {
    padding-left: 15px
}

.pad-right-15 {
    padding-right: 15px
}

.pad-left-30 {
    padding-left: 30px
}

.pad-right-30 {
    padding-right: 30px
}

.pad-left-60 {
    padding-left: 60px
}

.pad-right-60 {
    padding-right: 60px
}

.space-left-15 {
    margin-left: 15px
}

.space-right-15 {
    margin-right: 15px
}

.space-left-30 {
    margin-left: 30px
}

.space-right-30 {
    margin-right: 30px
}

.space-left-60 {
    margin-left: 60px
}

.space-right-60 {
    margin-right: 60px
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

/* 
 * Horizontal Rule 
 */

hr {
    border: none;
    border-top: 1px solid #8c8b8b;
}

hr.clear {
    border-top: none;
    border-bottom: none
}

hr.basic {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: "Font Awesome 5 Free";
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: "";
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

/*
 * Buttons 
 */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}

button:disabled, button[disabled], a:disabled, a[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    font-family: "Open Sans";
}

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 0;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: inherit;
    line-height: 30px;
    text-align: center;
    /* -webkit-appearance: none; */
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn i {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: initial;
}

.btn:focus, .btn:active {
    outline: none
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-default, .btn-default:visited {
    color: rgba(255, 255, 255, 1) !important
}

.btn-default {
    background-color: #408fdf;
    box-shadow: inset 0 0 1px 1px #6f95be;
    border: 1px solid #3989da;
}

.btn-default:hover {
    background-color: #1e5fa1;
    color: rgba(255, 255, 255, 1)
}

.dark-theme .btn-default:hover {
    background-color: #e39702;
    color: rgba(255, 255, 255, 1)
}

.btn-default:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-go, .btn-go:visited {
    background-color: #5eb24a;
    border: 1px solid rgba(56, 142, 35, 0.3);
    box-shadow: inset 0 0 1px 1px #7dc86b;
    color: rgba(255, 255, 255, 1) !important
}

.btn-go:hover {
    background-color: #58c83d;
    color: rgba(255, 255, 255, 1)
}

.btn-go:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-stop, .btn-stop:visited {
    background-color: #e75858;
    border: 1px solid #c04d4d;
    box-shadow: inset 0 0 1px 1px #f78686;
    color: rgba(255, 255, 255, 1) !important
}

.btn-stop:hover {
    background-color: #d33838;
    color: rgba(255, 255, 255, 1)
}

.btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-basic {
    background-color: #ececec;
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 0 1px 1px #fafafa;
    color: #555 !important
}

.btn-basic:hover {
    background-color: #fefefe;
    color: #555
}

.btn-basic:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.btn-small {
    height: 25px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 22px;
}

.btn-small i {
    line-height: 22px;
}

.btn.pull-right {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.btn.pull-left {
    margin-right: 5px !important;
    margin-left: 0 !important;
}

.btn-attached-left {
    line-height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-attached-right {
    line-height: 28px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*
 * Alerts 
 */

.alert {
    position: relative;
    float: left;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    text-align: left
}

.alert strong {
    text-transform: capitalize;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #ffd447;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.alert.info {
    background-color: #68a8ff;
}

.alert-inline {
    position: absolute;
    float: none;
    top: 125%;
    left: -16px;
    z-index: 2000;
    min-width: 100px;
    width: auto;
    padding: 13px 10px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 12px
}

.alert-inline {
    background-color: #ff6868;
    border-color: #ff6868;
    box-shadow: none;
    color: #fff
}

.alert-inline::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #ff6868;
    border-top: 1px solid #ff6868;
    border-right: 1px solid #ff6868;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.alert button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.password-strength {
    position: absolute;
    top: 8px;
    left: 75px;
    visibility: visible;
    font-size: 11px;
    text-align: center
}

/* 
 * Forms 
 */

.form label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 600;
}

.form label.required:after {
    margin-left: 3px;
    content: "\f069";
    color: #ff0000;
    font-family: "Font Awesome 5 Free";
    font-size: 10px
}

input, textarea, select {
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    /*-webkit-appearance:none;*/
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

input, textarea, select {
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3);
    color: #777;
}

.dark-theme input, .dark-theme textarea, .dark-theme select {
    background-color: #707070;
    border: 1px solid #575757;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.7);
    color: #e3e3e3;
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

select {
    padding: 0px 9px;
    text-indent: 0px;
}

.label-col, .input-col {
    position: relative;
    float: left;
    height: 30px;
}

.label-col label, .info-col {
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.info-col {
    float: left;
    margin-left: 50px;
    color: #999;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 100;
    color: #777;
    font-size: 18px;
    cursor: pointer
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.fancy-form label {
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 100;
    display: initial;
    padding: 0;
    color: #bbb;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.fancy-form label:hover {
    cursor: text;
}

.input-attached-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-attached-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*
 * Loading 
 */

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center
}

.loading {
    background-color: #f8f8f8;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    z-index: 1001;
    font-size: 40px;
    line-height: 40px;
    color: #2777c9
}

.loading-spinner img {
    width: 100%
}

/* 
 * To-top 
 */

.to-top {
    position: fixed;
    opacity: 0;
    right: 20px;
    bottom: -100px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.to-top.visible {
    opacity: 1;
    bottom: 20px;
}

/*
 * Header 
 */

.header {
    float: left;
    width: 100%;
}

/*
 * Logo 
 */

a.logo, a.logo:visited {
    float: left;
    width: 13%;
    height: 40px;
    background-color: #408fdf;
    color: #fff;
    font-size: 24px;
    line-height: 38px;
}

.version-build {
    float: left;
    margin-top: 8px;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}

.logo, .logo:visited {
    color: #2777c9;
}

.logo:hover, .logo:focus, .logo:active {
    color: #2777c9;
}

.account-links {
    float: left;
    width: 5%;
    height: 40px;
    background-color: #408fdf;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
}

.account-links a, .account-links a:visited {
    color: #fff;
}

/* 
 * Navigation 
 */

.nav {
    position: relative;
    float: left;
    width: 13%;
    min-height: 500px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.main-nav {
    float: left;
    margin-top: 10px;
    /* border-top:1px solid #cccccc; */
    list-style: none;
}

.main-nav li {
    position: relative;
    float: left;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.main-nav a, .main-nav a:visited {
    float: left;
    width: 100%;
    padding: 0 10px;
    /* border-bottom:1px solid #cccccc; */
    border-radius: 0;
    color: #727272;
    line-height: 50px;
    text-align: left;
}

.main-nav a:hover, .main-nav a:focus, .main-nav a:active {
    color: #fff;
    background-color: #93c0ee;
}

.main-nav a.current, .main-nav a.current:visited {
    width: 100%;
    background-color: #5d99d4;
}

.main-nav a.current:hover, .main-nav a.current:focus, .main-nav a.current:active {
    background-color: #0553a3;
}

.main-nav a i:first-child {
    width: 50px;
    text-align: center;
}

.nav-toggle {
    margin: 13px 2px 0 0;
    font-family: "Font Awesome 5 Free";
}

.dropdown-menu {
    float: left;
    width: 100%;
    max-height: 0px;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.dropdown-menu.active {
    max-height: 500px
}

.dropdown-menu li {
    width: 100% !important
}

.dropdown-menu a {
    width: 100% !important;
    padding-left: 0px !important;
    line-height: 60px !important;
    font-size: 15px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-open .dropdown-menu a {
    width: 100% !important;
    padding-left: 0px !important;
    line-height: 40px !important;
    font-size: 13px;
}

.dropdown-menu i {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-open .dropdown-menu i {
    visibility: hidden;
    opacity: 0;
}

.account-nav {
    float: right;
    height: 30px;
    list-style: none;
}

.account-nav .nav-toggle {
    float: left;
    width: 15px;
}

.account-nav li {
    position: relative;
    float: left;
}

.account-nav a, .account-nav a:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 13px;
}

.account-nav a, .account-nav a:visited {
    color: #2777c9;
}

.account-nav a:hover, .account-nav a:focus, .account-nav a:active {
    background-color: #eee;
}

.account-nav button, .account-nav button:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    color: #2777c9;
    font-size: inherit;
    font-family: inherit;
    line-height: 30px;
}

.account-nav button, .account-nav button:visited {
    color: #2777c9;
}

.account-nav button:hover, .account-nav button:focus, .account-nav button:active {
    background-color: #eee;
}

/*
 * Work Area
 */

.workarea {
    float: left;
    width: 100%;
    padding: 15px 25px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.workpanel {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 15px 25px;
    border: 1px solid #ddd;
}

/*
 * Dashboard 
 */

.dash-container {
    overflow: hidden;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

.dash-container {
    background-color: #3789dd;
}

.dark-theme .dash-container {
    background-color: #f0a20a;
}

.dash-container-title {
    float: left;
    width: 100%;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
}

.dash-container-title {
    background-color: #2171c3;
}

.dark-theme .dash-container-title {
    background-color: #e39b00;
}

.dash-container-content {
    float: left;
    width: 108%;
    height: 150px;
    padding: 10px 20px 10px 10px;
    overflow-y: scroll;
    font-size: 14px;
}

.dash-container-content .row {
    margin-bottom: 5px;
}

.dash-container-footer {
    float: left;
    width: 100%;
    padding: 3px 5px 5PX 5PX;
    font-size: 13px;
}

.dash-container-footer {
    background-color: #2777c9;
}

.dark-theme .dash-container-footer {
    background-color: #dd9700;
}

.dash-container-footer a, .dash-container-footer a:visited {
    float: left;
    color: #fff;
}

.dash-container-content span, .dash-container-content p {
    float: left;
    line-height: 21px;
}

.dash-container-content span {
    margin: 0 5px 0 0;
}

.dash-container-content p {
    color: #fff;
}

.dash-container-content a, .dash-container-content a:visited {
    color: #fff;
    text-decoration: underline;
}

/*
 * Panels 
 */
.main-panel {
    min-height: 420px;
    margin-bottom: 15px;
}

.breadcrumb {
    float: left;
    margin-bottom: 7px;
    height: 30px;
}

.breadcrumb hr {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0 0 -10px;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.breadcrumb hr:first-child {
    display: none;
}

.breadcrumb a {
    float: left;
    padding: 0px 15px 0 30px;
    margin-left: -10px;
    height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #686868;
    font-size: 15px;
    line-height: 28px;
}

.breadcrumb:nth-child(1) {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.breadcrumb a:nth-child(2) {
    padding-left: 15px;
    margin-left:0;
}

.main-controls {
    padding: 5px;
    margin: 10px 0;
}

.main-controls {
    background-color: #f1f1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-theme .main-controls {
    background-color: #191a1b;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-controls .btn {
    float: left;
    margin-right: 5px;
}

.main-controls select, .main-controls option {
    height: 24px;
    line-height: 15px;
}

.main-controls hr {
    float: left;
    width: 1px;
    height: 23px;
    margin: 0 10px 0 5px;
    background-color: #ccc;
    border: none;
}

.lister-controls {
    margin-top: 10px;
}

.panel-title {
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.panel-title {
    background-color: #808080;
    color: #fff;
}

.dark-theme .panel-title {
    background-color: #2679cd;
}

.panel-title a, .panel-title a:visited {
    color: #fff;
}

.panel-title a:hover {
    text-decoration: underline;
}

.panel-content {
    position: relative;
    float: left;
    width: 100%;
}

.panel-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3px 5px 5PX 5PX;
}

.panel-form {
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    background-color: #eee;
}

.log {
    overflow: hidden;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 20px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.log {
    border: 1px solid #ccc;
    background-color: #fff;
}

.dark-theme .log {
    border: 1px solid #858585;
    background-color: #707070;
}

.log-title {
    float: left;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
}

.log-title i {
    line-height: 24px;
}

.log-title i:hover {
    cursor: pointer;
}

.scrollarea {
    overflow-y: scroll;
    float: left;
    width: 100%;
    height: 250px;
}

/*
 * Home 
 */

.dash-btns .left, .dash-btns .right {
    min-height: 20px;
}

.dash-btns .left {
    float: right;
    width: 400px;
}

.dash-btns .right {
    float: right;
}

.dash-btns .alert {
    margin: 0;
    float: right;
    max-width: 550px;
    padding: 4px 30px 4px 10px;
}

.home-page iframe {
    visibility: hidden;
}

/*
 * User 
 */

.account-left {
    float: left;
    width: 39%;
    margin-right: 1%;
    font-size: 16px;
}

.account-right {
    float: right;
    width: 59%;
    font-size: 16px;
}

.account-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.account-controls .btn {
    margin: 0 0 5px 0;
}

.account-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.account-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.account-avatar img {
    width: 100%;
}

.account span {
    float: left;
}

.account-btns {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.account-info p {
    float: right;
}

.is-online {
    margin-bottom: 42px;
}

.is-online i {
    margin-right: 5px;
}

/* 
 * Settings 
 */

.settings-area {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.settings strong {
    font-size: 28px;
}

#settings-form {
    text-align: left;
}

.settings-row {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.settings-row {
    border-top: 1px solid #ddd;
}

.dark-theme .settings-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.settings-col-left {
    float: left;
    width: 16%;
}

.settings-col-right {
    float: left;
    width: 84%;
}

/*
 * Pagination 
 */

.pagination {
    float: left;
    height: 30px;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 0 #fafafa;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: inherit;
    text-align: center;
    line-height: 30px;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.pagination {
    border: 1px solid #d9d9d9;
    background-color: #f1f1f1;
}

.dark-theme .pagination {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #c1c1c1;
}

.pagination i {
    height: inherit;
    line-height: 30px;
}

.pagination button {
    float: left;
    padding: 0 10px;
    overflow: hidden;
    line-height: 30px;
}

.pagination button {
    color: #3498db;
}

.dark-theme .pagination button {
    color: #222325;
}

.pagination .divider {
    float: left;
    width: 1px;
    height: 28px;
    border: none;
}

.pagination .divider {
    background-color: #d9d9d9;
}

.dark-theme .pagination .divider {
    background-color: rgba(255, 255, 255, 0.2);
}

.limit-per-page {
    height: 25px;
}

.total {
    margin: 2px 0 5px 25px;
    font-size: 13px;
    font-weight: 600;
}

.list-page .action:hover {
    cursor: initial;
}

.new-page .label-col {
    width: 10%;
}

.new-page .input-col {
    width: 90%;
}

.new-page td {
    border: 1px solid #ccc;
}

.newsletter-list {
    max-height: 0px;
    overflow: hidden;
}

.newsletter-list.open {
    max-height: 500px;
}

.newsletter-editor {
    max-height: 0px;
    overflow: hidden;
}

.newsletter-editor.open {
    max-height: 500px;
}

.btn-clear {
    margin: 0 !important;
}

/*
 * Search 
 */

.search {
    float: left;
    width: 82%;
}

.search-icon {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}

.search-icon {
    color: #ddd;
}

.search input {
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 15px 0 60px;
    border-radius: 0;
    font-size: 13px;
}

.search-results {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 200;
    clear: both;
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
}

.search-results {
    background-color: #fff;
    border: 1px solid #ddd;
}

.search-results ul {
    list-style: none;
}

.search-results em {
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: 600;
}

.search-header {
    font-size: 24px
}

.found-user, .found-user:visited {
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    color: #777
}

.found-user-right {
    float: left;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid #ddd
}

.found-user-left img {
    float: left;
    width: 100%
}

.found-user-left {
    float: left;
    width: 20%
}

.found-user-left p {
    float: left;
    font-size: 18px
}

.title-characters {
    position: absolute;
    right: -160px;
    top: 5px;
    font-size: 13px;
}

#description {
    padding-top: 28px;
}

.description-characters {
    position: absolute;
    left: 20px;
    top: 45px;
    font-size: 13px;
}