<?= $header; ?>
<?= $nav; ?>
<main class="main leads-page">
    <div class="row workarea">
        <?= $breadcrumb ?>
        <div class="row" style="margin-bottom:5px;">
            <a href="/contacts/new" class="btn btn-default"><i class="fas fa-plus fa-fw"></i> New</a>
        </div>
        <div class="row workpanel">
            <table>
                <tr>
                    <th>Phase 1 - Contacted</th><th>Phase 2 - Surveyed</th><th>Phase 3 - Proposed</th><th>Phase 4 - Signed</th>
                </tr>
                <tr>
                    <td>C1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>C2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>C3</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<script type="text/javascript">
    
</script>
<?= $footer; ?>